h1 {
    font-family: 'Pinyon Script', cursive;
    font-weight: bold;
    text-align: center;
    line-height: 200%;
}

li {
    font-family: 'Pinyon Script', cursive;
    line-height: 125%;
    font-size: 2em;
}

/*body {
    text-align: center;
}*/
